<h1>Editing Build Task</h1>

<div class="panel panel-default">
  <div class="panel-body">
    <%= render 'form', build_task: @build_task, url: set_task_build_task_path(@set_task, @build_task) %>
  </div>
</div>
