#preview {
  max-height: 200px;
  text-align: center;

  img {
    max-height: 200px;
    max-width: 100%;
  }
}

.embed {

  text-align: center;

  img {
    max-width: 100%;
  }

  a {
    font-size: 2em;
  }
}