
body {
  overflow-x: hidden;
  background: #333;
  color: white;
}

.panel-default {
    background: #222;
}

.yield-content, .below {
  margin-top: 60px;
}

.navbar-white {
  background-color: white;
}

.actions {
  margin-top: 20px;
}

