
.task-panel {

  .priority {
    font-size: 2em;
    border-left: 8px solid;
    padding-left: 14px;
  }

  .priority-0 {
    border-color: red;
    font-size: 4em;
  }

  $base-color: #7FFF00;

  @for $i from 1 through 10 {
    .priority-#{$i} {
      $percent-darken: $i * 3;
      border-color: darken($base-color, $percent-darken);
    }
  }

}
