
.task-panel {
  margin-top: 20px;
}

.set-task-panel {

  h1 a {
    color: white;
  }

  .priority {
    font-size: 2em;
    border-left: 8px solid;
    padding-left: 14px;
  }

  .priority-0 {
    border-color: red;

    p:first-child {
      font-size: 2em;
    }
  }

  $base-color: #7FFF00;

  @for $i from 1 through 10 {
    .priority-#{$i} {
      $percent-darken: $i * 3;
      border-color: darken($base-color, $percent-darken);
    }
  }

  .sub-panels {
    margin-top: 20px;
  }

  .sub-panel {
    cursor: pointer;
    margin: 16px 0;

    min-height: 155px;
  }

  .sub-panel:hover {
    color: #FFF;

    a, .label {
      color: #FFF;
    }
  }

  .build-task-subpanel {
    font-size: 2em;

    a {
      display: block;
    }
  }

  .add-build-task {
    font-size: 4em;
    color: white;
    width: 100%;

    .label {
      display: block;
      font-size: 0.5em;
      color: #DDD;
    }
  }

}

.build-task-panel {
  .larger {
    font-size: 1.4em;
  }

  h2 {
    margin-top: 0;

    a {
      color: #DDD;
    }

    a:hover, a:focus {
      color: #FFF;
    }
  }
}

.status-button.completed {
  font-size: 1.6em;
}

.status-button.claimed-by-you {
  p {
    margin: 0 0 0 5px;
  }
}

.status-button.claimed {
  font-size: 1.6em;
}

.completed-tasks {
  opacity: 0.5;
}

.swal2-textarea {
  color: black;
}
